body{
	background: #f3f3f3;
}
.M-sex-box{
	max-width: 100%;
}
.M-sex-diu{
	width: 820px;
	/*border: 1px solid #ccc;*/
	margin: 0 auto;
}
.M-box-shou{
	margin-top: 80px;
}
.M-box-shou p{
	display: inline-block;
	font-size: 16px;
}
.M-box-shou p:nth-child(1){
	color: #7C4E23;
}
.M-box-shou p:nth-child(2){
	color: #999999;
}
.M-box-shou p:nth-child(3){
	color: #7C4E23;
	cursor: pointer;
}
.M-box-out{
	margin-top: 26px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.M-box-out p:nth-child(1){
	color: #7C4E23;
	font-size:16px;
	line-height: 22px;
}
.M-box-out p:nth-child(2){
	font-size: 14px;
	color: #999999;
	line-height: 20px;
}
.M-box-woe{
	margin-top: 26px;
}
.M-box-woe h2{
	font-size:32px;
}
.M-br{
	width:847px;
	height: 2px;
	background: #999999;
	margin-top: 46px;
}
.M-text-details{
	margin-top: 70px;
	padding:0 28px 0 28px;
	box-sizing: border-box;
}
.M-text-details p{
	color: #999999;
	font-size: 16px;
	
	line-height:28px;
}
.M-details-img1{
	width:100%;
	margin-top: 48px;
}
.M-details-img2{
	width: 100%;
	margin-top: 48px;
}
 
